@model IEnumerable<Protoshop.Models.Product>

@{
    ViewBag.Title = "Index";
}

@using(Html.BeginForm("index", "Products", FormMethod.Get))
{
    <label for="search">Sök:  </label>
    <input type="text" id="search" name="search" placeholder="Sök..."/>
    <input type="submit" value="Sök"/>
}

<h2>Produkter</h2>

@if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Customer"))
{
    <p>
       <span class="btn btn-default"> @Html.ActionLink("Create New", "Create")</span>
    </p>
}


<div class="products">
    @foreach (var item in Model)
    {
       
        <a href="@Url.Action("Details", "Products", new { id = item.ID})" class="product">
            <img src="@Url.Content("~/Content/Images/" +  item.ImageFile)" alt="logan" />
            <h3>@item.Name</h3>
            <p>@item.Price</p>
            <p>@item.Description</p>
            <p><span class="btn btn-success">DO IT</span></p>
        </a>
    }
</div>