@model IEnumerable<Protoshop.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Produkter</h2>

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="products">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Products", new { id = item.ID})" class="product">
            <img src="@Url.Content("~/Content/Images/logang.jpg")" alt="logan" />
            <h3>@item.Name</h3>
            <p>@item.Price</p>
            <p>@item.Description</p>
            <p><span class="btn btn-success">DO IT</span></p>
        </a>
    }
</div>